In [65]:
import pandas as pd 
import numpy as np
import warnings

In [66]:
df = pd.read_excel('C:\\Users\\ziad.saad\\Desktop\\All Phone Calls.xlsx')

df['Created On'] = pd.to_datetime(df['Created On'])
df = df[df['Created On'] >= '10/01/2024  00:00:00']
df = df[df['Business Unit (Owning User) (User)'] =='AWP']

#df.head(2)

C:\Users\ziad.saad\AppData\Local\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [67]:
def check(df):
    data_info = []
    cols = df.columns
    for col in cols:
        name = col
        dtypes = df[col].dtype
        valuesCounts = df[col].value_counts().sum()
        nulls = df[col].isnull().sum()
        uniques = df[col].nunique()
        column = ['Name', 'Data types','Nulls count','Value counts','Uniques count']
        data_info.append([name, dtypes,nulls, valuesCounts, uniques])
    data = pd.DataFrame(data_info)
    data.columns = column
    return data

In [68]:
check(df)

,Name,Data types,Nulls count,Value counts,Uniques count
0,(Do Not Modify) Phone Call,object,0,10720,10720
1,(Do Not Modify) Row Checksum,object,0,10720,10720
2,(Do Not Modify) Modified On,datetime64[ns],0,10720,7639
3,Subject,object,0,10720,41
4,Call From,object,0,10720,16
5,Regarding,object,0,10720,4622
6,Phone Call Result,object,0,10720,15
7,Not Intersted Reason,object,9185,1535,19
8,Follow Up Action,object,1,10719,2
9,Follow Up Date,datetime64[ns],4412,6308,143
10,Next Step,object,4173,6547,535
11,Source Campaign,object,10484,236,3
12,Owner,object,0,10720,13
13,Created On,datetime64[ns],0,10720,10702
14,Description,object,1647,9073,4413
15,Priority,object,0,10720,2
16,Due,float64,10720,0,0
17,Activity Status,object,0,10720,2
18,Direction,object,0,10720,1
19,Country (Regarding) (Contact),float64,10720,0,0
20,Department (Owning User) (User),object,10658,62,1
21,Site (Owning User) (User),object,10658,62,1
22,Created By,object,0,10720,15
23,Business Unit (Owning User) (User),object,0,10720,1
24,Call To,object,0,10720,4623
25,Mobile Last 5 digits (Regarding) (Lead),object,0,10720,4788

In [69]:
def remove_cols(df,cols):
    return df.drop(cols, axis=1, inplace=True)

col = ['(Do Not Modify) Phone Call','(Do Not Modify) Row Checksum','(Do Not Modify) Modified On','Call To','Description', 'Source Campaign',
       'Business Unit (Owning User) (User)','Created By','Due', 'Call From','Country (Regarding) (Contact)','Department (Owning User) (User)',
       'Site (Owning User) (User)']

remove_cols(df,col)

In [70]:
def rename(df, olds,news):
    dict_names = {}
    for i in range(len(olds)):
        dict_names[olds[i]] = news[i]
    return df.rename(columns=dict_names, inplace=True )

olds = ["Regarding",'Subject','Mobile Last 5 digits (Regarding) (Lead)','Created On']
news = ["Name",'Topic','Mobile Phone','first call']
rename(df,olds,news)

In [71]:
#check(df)

In [72]:
cols = ['Topic', 'Name', 'Mobile Phone', 'Owner','Phone Call Result', 'Not Intersted Reason','Follow Up Action', 'Follow Up Date',
        'Next Step','first call', 'Priority', 'Activity Status', 'Direction']

df = df[cols]
df.head(1)

,Topic,Name,Mobile Phone,Owner,Phone Call Result,Not Intersted Reason,Follow Up Action,Follow Up Date,Next Step,first call,Priority,Activity Status,Direction
0,ARC,Moh Abdel-Naby,010XXXX81807,Mostafa Hassan,Interested,NaN,Need,2025-02-16,meeting,2025-02-12 19:49:10,Normal,Open,Outgoing

In [73]:
c = 0

for i in df['Phone Call Result']:
    if pd.isna(df['Not Intersted Reason'].loc[c]):
        
        if i == 'Wrong No':
            df.loc[c,'Not Intersted Reason'] = 'Wrong Number'

        elif i in ['Call Droped', 'Switched Off','Left a Message','No Answer','Busy Call Back Later']:
            df.loc[c,'Not Intersted Reason'] = 'Not reached call'

        elif i == 'Interested':
            df.loc[c,'Not Intersted Reason'] = 'Interested'

        elif i == 'Booked':
            df.loc[c,'Not Intersted Reason'] = 'Booked'            

        elif i in ['Complain','Unsure']:
            df.loc[c,'Not Intersted Reason'] = 'Not convinced with Business Idea'

        elif i in ['Interested Follow Up Required','Interested but not available'] :
            df.loc[c,'Not Intersted Reason'] = 'Need Next Step'

        elif i == 'Low Budget':
            df.loc[c,'Not Intersted Reason'] = 'High Price'

        elif i == 'Cancel EOI':
            df.loc[c,'Not Intersted Reason'] = 'Cancelled EOI'

        elif i == 'Not Interested':
            df.loc[c,'Not Intersted Reason'] = 'Unknown'

    c+=1

In [74]:
c = 0

for i in df['Phone Call Result']:
    if pd.isna(df['Follow Up Action'][c]):    
        if i == 'Not Interested':
            df.loc[c,'Follow Up Action'] = 'No Need'
    c+=1

In [75]:
c = 0

for i in df['Follow Up Action']:
    if i == 'No Need':
        df.loc[c,'Next Step'] = i
    c+=1

In [76]:
df['Mobile Phone'] = df['Mobile Phone'].str[-3:]
df['Mobile Phone'].head()

0    807
1    071
2    875
3    806
4    905
Name: Mobile Phone, dtype: object

In [77]:
check(df)

,Name,Data types,Nulls count,Value counts,Uniques count
0,Topic,object,0,10720,41
1,Name,object,0,10720,4622
2,Mobile Phone,object,0,10720,996
3,Owner,object,0,10720,13
4,Phone Call Result,object,0,10720,15
5,Not Intersted Reason,object,0,10720,25
6,Follow Up Action,object,0,10720,2
7,Follow Up Date,datetime64[ns],4412,6308,143
8,Next Step,object,38,10682,536
9,first call,datetime64[ns],0,10720,10702
10,Priority,object,0,10720,2
11,Activity Status,object,0,10720,2
12,Direction,object,0,10720,1

In [78]:
df.to_csv('phones.csv')